.navbar {
  padding: 0;
}

li.nav-item {
  padding: 1rem 2.62rem;
  position: relative;
}

a.nav-link {
  padding: 0;
  color: #000 !important;
  font-weight: 600;
  font-size: 1rem;
}

nav input.form-control {
  width: auto;
  background-color: #f2f2f2;
  border-style: none;
}

#btn-spike {
  border: 3px solid #0181ff;
  border-radius: 0.25rem;
  background-color: #0181ff;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-weight: 600;
  display: block;
  transition: all 0.2s ease-in-out;
}

#btn-spike:hover {
  background-color: white;
  color: #0181ff;
}
